html, body {
  margin: 20px;
}

.comments-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.comments-container > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.comments-container > ul li {
  padding: 10px;
  border-bottom: #ccc 1px solid;
}

.comments-container > ul li:hover{
  cursor: pointer;
  background: #fafafa;
};