html, body {
  margin:   0px;
  padding:  0px;
  font-family: "Helvetica Neue";
  font-weight: 100;
  text-align: center;
}

h1,h2,h3 {font-weight: 100;}

h1.current-time-logger {
  margin: 0;
  height: 50px;
  overflow: hidden;
}

.video-backsplash {
  background:     #000;
  overflow:       hidden;
  max-height:     500px;
}

.video-inner {
  height:     100%;
  position:   relative;
  max-width:  900px;
  margin:     0 auto;
  max-height: 500px;
}

.video-player.responsive {
  position: absolute;
  top:  0;
  left: 0;
  height: auto;
  width: 100%;
}
